<%= render :partial => 'breadcumb' %>

<%= render 'form' %>

<div class="actions">

<%= link_to 'Visualizza', resource_url(resource), :class => 'btn' %> 
<%= link_to 'Torna indietro', collection_url,  :class => 'btn' %>

<%= link_to("Cancella", resource_url(resource), :method => :delete, :confirm => "Are you sure?", :class => 'btn   danger')  %>

</div>